<header class="intro-header" style="/*background-image: url('images/home.jpg'); min-height:300px; margin-top:25px;*/">
  <div class="container" ng-class="{'': !autenticated, 'hidden': autenticated}">

  </div>
  <div class="container" ng-class="{'hidden': !autenticated, '': autenticated}">
    <!--<div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1 style="color:black;">Montessori</h1>
          <span class="subheading" style="color:black;">Colegio Internacional (Pago Visa)</span>
        </div>
      </div>
    </div>-->
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="wrimagecard wrimagecard-topimage">
          <a href="#/Bo_scagface_factura_pago">
            <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1) ">
              <center><i class="glyphicon glyphicon-credit-card fa-lg" style="color:#BB7824"></i></center>
            </div>
            <div class="wrimagecard-topimage_title">
              <h4>Pago con Tarjeta de Crédito</h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="wrimagecard wrimagecard-topimage">
          <a href="#/Bo_scagface_factura_pago?action=3">
            <div class="wrimagecard-topimage_header" style="background-color: rgba(22, 160, 133, 0.1)">
              <center><i class="fa fa-bank" style="color:#16A085"></i></center>
            </div>
            <div class="wrimagecard-topimage_title">
              <h4>Pago a Terceros
            <div class="pull-right badge" id="WrControls"></div></h4>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="wrimagecard wrimagecard-topimage">
          <a target="_blank" href="http://181.174.81.116:8091/ITXSCA/User/getPDF/ce2016">
            <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1) ">
              <center><i class="fa fa-calendar" style="color:#BB7824"></i></center>
            </div>
            <div class="wrimagecard-topimage_title">
              <h4>Calendario Escolar 2016<!--<div class="pull-right badge">18</div>--></h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="wrimagecard wrimagecard-topimage">
          <a target="_blank" href="http://181.174.81.116:8091/ITXSCA/User/getPDF/cg2016">
            <div class="wrimagecard-topimage_header" style="background-color: rgba(22, 160, 133, 0.1)">
              <center><i class="fa fa-info-circle" style="color:#16A085"></i></center>
            </div>
            <div class="wrimagecard-topimage_title">
              <h4>Circular General No. 1 2016
            <div class="pull-right badge" id="WrControls"></div></h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="wrimagecard wrimagecard-topimage">
          <a href="#/Bo_estado_de_cuenta">
            <div class="wrimagecard-topimage_header" style="background-color:  rgba(213, 15, 37, 0.1)">
              <center><i class="fa fa-table" style="color:#d50f25"> </i></center>
            </div>
            <div class="wrimagecard-topimage_title">
              <h4>Estado de Cuenta
            <div class="pull-right badge" id="WrForms"></div>
            </h4>
            </div>

          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="wrimagecard wrimagecard-topimage">
          <a href="#/Bo_estado_de_cuenta_libros">
            <div class="wrimagecard-topimage_header" style="background-color:  rgba(51, 105, 232, 0.1)">
              <center><i class="fa fa-table" style="color:#3369e8"> </i></center>
            </div>
            <div class="wrimagecard-topimage_title">
              <h4>Estado de Cuenta Libros
            <div class="pull-right badge" id="WrGridSystem"></div></h4>
            </div>

          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="wrimagecard wrimagecard-topimage">
          <a target="_blank" href="https://www.cpmp.com.gt/Visanet/category/stores/id/2">
            <div class="wrimagecard-topimage_header" style="background-color:  rgba(250, 188, 9, 0.1)">
              <center><i class="fa fa-cc-visa" style="color:#fabc09"> </i></center>
            </div>
            <div class="wrimagecard-topimage_title">
              <h4>Visa
            <div class="pull-right badge" id="WrInformation"></div></h4>
            </div>

          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="wrimagecard wrimagecard-topimage">
          <a target="_blank" href="http://www.gytcontinental.com.gt/portal/portal/index.asp">
            <div class="wrimagecard-topimage_header" style="background-color: rgba(121, 90, 71, 0.1)">
              <center><i class="fa fa-bank" style="color:#795a47"> </i></center>
            </div>
            <div class="wrimagecard-topimage_title">
              <h4>GyT
            <div class="pull-right badge" id="WrNavigation"></div></h4>
            </div>

          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="wrimagecard wrimagecard-topimage">
          <a href="#/Bo_estado_de_cuenta_boleta">
            <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
              <center><i class="fa fa-cc-paypal" style="color:#825d09"></i></center>
            </div>
            <div class="wrimagecard-topimage_title">
              <h4>Boleta de Pago
            <div class="pull-right badge" id="WrThemesIcons"></div></h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="wrimagecard wrimagecard-topimage">
          <a href="#/Bo_estado_de_cuenta_libros_boleta">
            <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
              <center><i class="fa fa-cc-paypal" style="color:#825d09"></i></center>
            </div>
            <div class="wrimagecard-topimage_title">
              <h4>Boleta de Pago Libros
            <div class="pull-right badge" id="WrThemesIcons"></div></h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
