<ol class="breadcrumb">
    <li><a href="#/home">Home</a></li>
    <li class="active">Impresion de Facturas</li>
</ol>

<div class="panel panel-default">
    <div class="panel-body">
        <form>
            <div class="col-md-12">
                <label>Facturas</label>
                <form action="#" method="get">
                    <div class="input-group">
                        <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                        <input class="form-control" ng-model="q" placeholder="Buscar" required>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                            <button type="button" class="btn btn-default" ng-click="open({},'lg','new')"><i class="glyphicon glyphicon-plus"></i></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
            <div class="text-left">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" template-url="app/view/dirPagination.tpl.html" pagination-id="main">
                </dir-pagination-controls>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="fit">ID</th>
						<th class="fit">No.Factura</th>
						<th class="fit">Serie</th>
						<th class="fit">Cuenta</th>
						<th class="fit">Fecha</th>
						<th>Nombre</th>
						<th class="fit">Nit</th>
						<th class="fit">Estado</th>
                        <th class="text-right fit">Imprimir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="data.data.length <= 0">
                        <td colspan="5" style="text-align:center;">Loading new data!!</td>
                    </tr>
                    <tr ng-click="" dir-paginate="item in pivot_data | itemsPerPage:5" pagination-id="main">
                        <td class="fit">{{item.Id_enca}}</td>
						<td class="fit">{{item.correlativo_factura}}</td>
						<td class="fit">{{item.serie_factura}}</td>
                        <td class="fit">{{item.cuenta}}</td>
						<td class="fit">{{item.fecha | dateText}}</td>
						<td>{{item.nombre_factura}}</td>
						<td class="fit">{{item.nit_factura}}</td>
						<td class="fit">{{item.activo | boolText}}</td>
                        <td class="text-right fit">
                            <button class="btn btn-default" type="button" ng-click="open(item,'lg','')">
                                <span class="glyphicon glyphicon-print"></span>
                            </button>
                        </td>                        
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
